In [3]:
import pandas as pd
import numpy as np
pub = pd.read_csv("Datasets/pub.csv", encoding="latin1", sep=";")

In [ ]:
print("quanti dati ci sono?")
print(pub.shape)
print("quali sono i metadati?")
print(pub.columns.tolist())
print("stampiamo il primo elemento")
print(pub.head(1))
print("stampiamo l'ultimo elemento")
pub.tail(1)

In [ ]:
print("stampiamo l'ultimo elemento")
pub.tail(1)

In [ ]:
print("riusciamo a stampare un elemento a caso?")
pub.sample(1)

In [ ]:
#quali sono gli anni di inserimento presenti?
pub["Anno inserimento"].sort_values().unique()

In [ ]:
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
filtro_latitudine = (pub["Latitudine"] > 45) & (pub["Latitudine"] < 46)
filtro_longitudine = (pub["Longitudine"] > 9) & (pub["Longitudine"] < 10)
filtro = filtro_latitudine & filtro_longitudine
pub[filtro]

In [ ]:
#quante attività ci sono nella provincia di Vicenza?
pub[pub["Provincia"] == "VICENZA"]

In [ ]:
#quante enoteche ci sono, e come si chiamano? vin, eno
pub["Nome"] = pub["Nome"].str.lower()
pub[pub["Nome"].str.contains("vin|enot", na=False)].shape #per contarli in automatico uso .shape

In [ ]:
#quante attivita ci sono in lazio e abbruzzo insieme?
pub[(pub["Regione"] == "Lazio") | (pub["Regione"] == "Abruzzo")].shape

In [ ]:
insurance = pd.read_csv("Datasets/insurance.csv")
print("le dimensioni:",insurance.shape)
print("le colonne:", insurance.columns.tolist())
print("anteprima")
insurance.head(5)

In [ ]:
insurance.groupby("region")["charges"].mean()

non ci sono differenze significative, il southeast costa un po di piu ma niente di significativo

In [ ]:
#e in base a sex e smoker? ci sono differenze significative?
print(insurance.groupby("smoker")["charges"].mean())
print()
print(insurance.groupby("sex")["charges"].mean())

in base a sesso non cambiano molto ma in base a smoker si, il che e' giusto, chi fuma paghera un prezzo piu elevato di assicurazione per la salute, molto logico

Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? *bmi sta per indicatore di massa corporea (body mass index)*

In [ ]:
insurance["bmi"].describe()

In [ ]:
insurance["bmi_quartile"] = pd.qcut(insurance["bmi"], 4) #divide in quartile
insurance.groupby("bmi_quartile")["charges"].agg(["min","max","mean"])

In [ ]:
iris = pd.read_csv("Datasets/iris.csv")
#La media della lunghezza dei petali di tutto il dataset
#con describe nella colonna mi da in automatico media
iris["petal_length"].describe()

In [ ]:
#La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
iris.groupby("species")["petal_length"].mean()

In [ ]:
#Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
iris.groupby("species")["sepal_width"].agg(["min","max","mean"]).round(2)

In [ ]:
wine = pd.read_csv("Datasets/wine.csv")
print(wine["alcohol"].mean())
print(wine.info())
wine.groupby("quality")["alcohol"].mean()

In [ ]:
wine.groupby("type")["alcohol"].mean()

In [ ]:
#medie del ph nelle diverse qualita e tipi
print(wine["pH"].mean())
print()
print(wine.groupby("quality")["pH"].mean())
print()
print(wine.groupby("type")["pH"].mean())

In [ ]:
#medie dei solfati nelle diverse qualita e tipi
print(wine["sulphates"].mean())
print()
print(wine.groupby("quality")["sulphates"].mean())
print()
print(wine.groupby("type")["sulphates"].mean()) #quest'ultimo possiamo verificare che i solfati in rossi sono piu elevati

In [ ]:
boston = pd.read_csv("Datasets/boston.csv")
print(boston.columns.tolist())
boston.groupby("chas")["medv"].mean()
#La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?

le case vicino al fiume costano leggermente di piu

In [ ]:
#Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? 
#Come si può spiegare il risultato?
boston["crim"].corr(boston["medv"])

c'e una correlazione, piu criminalita le case sono piu economiche

In [ ]:
#Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? 
boston.groupby("ptratio")[["rm", "medv"]].mean()

piu basso il valore del rapporto alunni/insegnanti piu alto il numero di stanze e il valore mediano delle case
Questo risultato ci racconta che dove ci sono case piu grandi oppure case piu 'costose' il rapporto con insegnante e' piu basso.

In [ ]:
boston.groupby("rad")[["age", "rm", "tax"]].mean()

Le case nel raggio piu vicino dell'accesso alle autostrade sono piu 'nuove' e hanno meno tasse rispetto a le case piu lontane. Nell'indicatore di stanze non ci sono particolari 'sbalzi'.

In [4]:
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 
                             'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 
                             'department_id': [1, 2, 1, 2, 3] })
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 
                               'department_name': ['HR', 'IT', 'Finance'],
                               'location': ['New York', 'San Francisco', 'Chicago'] })

#Unire questi DataFrame in base alla colonna comune department_id, 
#in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge()
impiegati_dipartimento = employees_df.merge(departments_df,on="department_id",how="inner")
impiegati_dipartimento.loc[:,["employee_id","name","department_name","location"]]
impiegati_dipartimento.set_index("employee_id")

                name  department_id department_name       location
employee_id
101            Alice              1              HR       New York
102              Bob              2              IT  San Francisco
103          Charlie              1              HR       New York
104            David              2              IT  San Francisco
105             Emma              3         Finance        Chicago

In [17]:
#Per ogni DataFrame, trasformare la colonna department_id nell'indice, 
#facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()
#employees_df = employees_df.set_index("department_id")
#departments_df = departments_df.set_index("department_id")

dipartimento_impiegato = employees_df.join(departments_df,how="left")
dipartimento_impiegato.loc[:,["employee_id","name","department_name","location"]]

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

E' stato piu semplice fare cnn la merge e come principale differenza mi trovo con indice dipartment_id.

In [18]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(dotenv_path="cred.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [22]:
#Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame
query1 = "SELECT * FROM dimemployee"
dimemployee = pd.read_sql(query1, db_engine)
query2 = "SELECT * FROM dimemployeesalesterritory"
dimempsalesterritory = pd.read_sql(query2,db_engine)
dimempsalesterritory = dimempsalesterritory.set_index("EmployeeKey")
dimemployee = dimemployee.set_index("EmployeeKey")

In [39]:
#Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey
join_emp_salester = dimemployee.join(dimempsalesterritory,how="inner")
join_emp_salester.columns.tolist()

['ParentEmployeeKey',
 'EmployeeNationalIDAlternateKey',
 'ParentEmployeeNationalIDAlternateKey',
 'FirstName',
 'LastName',
 'MiddleName',
 'NameStyle',
 'Title',
 'HireDate',
 'BirthDate',
 'LoginID',
 'EmailAddress',
 'Phone',
 'MaritalStatus',
 'EmergencyContactName',
 'EmergencyContactPhone',
 'SalariedFlag',
 'Gender',
 'PayFrequency',
 'BaseRate',
 'VacationHours',
 'SickLeaveHours',
 'CurrentFlag',
 'SalesPersonFlag',
 'DepartmentName',
 'EmployeePhoto',
 'Position',
 'SalesTerritoryKey']

In [33]:
#Controlliamo la dimensione del DataFrame risultante: è quella attesa?
join_emp_salester.shape

(39, 28)

La dimensione dopo aver fatto la inner (solo righe che corrispondono) e' giusta, ovvero, ha preso solo le 39 righe di dimemployeesalesterritory,che hanno fatto match con quella nella tabella dimemployee. Quindi direi che il risultato facendo inner e' giusto, se faccio left join, lascerei quei employee che non sono stati assegnati a un territorio di vendita e cosi avro nella colonna molteplici valori 'NaN'

In [34]:
query3 = "SELECT * FROM dimsalesterritory"
dimsalesterritory = pd.read_sql(query3,db_engine)
dimsalesterritory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [40]:
#Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame 
#risultante della join precedente, usando le colonne SalesTerritoryKey
join_emp_salester = join_emp_salester.set_index("SalesTerritoryKey")
dimsalesterritory = dimsalesterritory.set_index("SalesTerritoryKey")

In [43]:
empst = join_emp_salester.join(dimsalesterritory,how="inner")
empst.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, 1 to 9
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ParentEmployeeKey                     39 non-null     float64
 1   EmployeeNationalIDAlternateKey        39 non-null     int64
 2   ParentEmployeeNationalIDAlternateKey  39 non-null     float64
 3   FirstName                             39 non-null     object
 4   LastName                              39 non-null     object
 5   MiddleName                            38 non-null     object
 6   NameStyle                             39 non-null     int64
 7   Title                                 39 non-null     object
 8   HireDate                              39 non-null     object
 9   BirthDate                             39 non-null     object
 10  LoginID                               39 non-null     object
 11  EmailAddress                          39 non-null     object
 12  Phone                                 39 non-null     object
 13  MaritalStatus                         39 non-null     object
 14  EmergencyContactName                  39 non-null     object
 15  EmergencyContactPhone                 39 non-null     object
 16  SalariedFlag                          39 non-null     int64
 17  Gender                                39 non-null     object
 18  PayFrequency                          39 non-null     int64
 19  BaseRate                              39 non-null     float64
 20  VacationHours                         39 non-null     int64
 21  SickLeaveHours                        39 non-null     int64
 22  CurrentFlag                           39 non-null     int64
 23  SalesPersonFlag                       39 non-null     int64
 24  DepartmentName                        39 non-null     object
 25  EmployeePhoto                         39 non-null     object
 26  Position                              39 non-null     object
 27  SalesTerritoryAlternateKey            39 non-null     int64
 28  SalesTerritoryRegion                  39 non-null     object
 29  SalesTerritoryCountry                 39 non-null     object
 30  SalesTerritoryGroup                   39 non-null     object
 31  SalesTerritoryImage                   39 non-null     object
dtypes: float64(3), int64(9), object(20)
memory usage: 10.1+ KB

In [49]:
#Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
empst.groupby("SalesTerritoryCountry")["ParentEmployeeKey"].count()

SalesTerritoryCountry
Australia          3
Canada             4
France             4
Germany            3
United Kingdom     3
United States     22
Name: ParentEmployeeKey, dtype: int64

In [50]:
#Valutiamo la media del BaseRate per ogni paese: ci sono differenze?
empst.groupby("SalesTerritoryCountry")["BaseRate"].mean()

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64

Sembra che dove ci sono piu dipendenti la media del BaseRate e' anche piu bassa rispetto ad altri paesi